.git
.gitignore
.github
node_modules
**/node_modules
.pnpm-store
**/.env
**/.env.*
**/*.log
**/dist
**/.next
**/.turbo
**/coverage
**/tmp
**/backups
**/.DS_Store
**/*.sqlite
**/*.db
**/.vscode
**/.idea
